CalculatorWS_Client_Application/src/wsdl/localhost_8080/wsacs-soap-web/CalculatorService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://calculator.web.soap.wsacs.wsacs.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://calculator.web.soap.wsacs.wsacs.com/" name="CalculatorService">
<types>
<xsd:schema>
<xsd:import namespace="http://calculator.web.soap.wsacs.wsacs.com/" schemaLocation="http://localhost:8080/wsacs-soap-web/CalculatorService?xsd=1"/>
</xsd:schema>
</types>
<message name="add">
<part name="parameters" element="tns:add"/>
</message>
<message name="addResponse">
<part name="parameters" element="tns:addResponse"/>
</message>
<message name="mul">
<part name="parameters" element="tns:mul"/>
</message>
<message name="mulResponse">
<part name="parameters" element="tns:mulResponse"/>
</message>
<message name="sub">
<part name="parameters" element="tns:sub"/>
</message>
<message name="subResponse">
<part name="parameters" element="tns:subResponse"/>
</message>
<message name="div">
<part name="parameters" element="tns:div"/>
</message>
<message name="divResponse">
<part name="parameters" element="tns:divResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<portType name="CalculatorService">
<operation name="add">
<input wsam:Action="http://calculator.web.soap.wsacs.wsacs.com/CalculatorService/addRequest" message="tns:add"/>
<output wsam:Action="http://calculator.web.soap.wsacs.wsacs.com/CalculatorService/addResponse" message="tns:addResponse"/>
</operation>
<operation name="mul">
<input wsam:Action="http://calculator.web.soap.wsacs.wsacs.com/CalculatorService/mulRequest" message="tns:mul"/>
<output wsam:Action="http://calculator.web.soap.wsacs.wsacs.com/CalculatorService/mulResponse" message="tns:mulResponse"/>
</operation>
<operation name="sub">
<input wsam:Action="http://calculator.web.soap.wsacs.wsacs.com/CalculatorService/subRequest" message="tns:sub"/>
<output wsam:Action="http://calculator.web.soap.wsacs.wsacs.com/CalculatorService/subResponse" message="tns:subResponse"/>
</operation>
<operation name="div">
<input wsam:Action="http://calculator.web.soap.wsacs.wsacs.com/CalculatorService/divRequest" message="tns:div"/>
<output wsam:Action="http://calculator.web.soap.wsacs.wsacs.com/CalculatorService/divResponse" message="tns:divResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://calculator.web.soap.wsacs.wsacs.com/CalculatorService/helloRequest" message="tns:hello"/>
<output wsam:Action="http://calculator.web.soap.wsacs.wsacs.com/CalculatorService/helloResponse" message="tns:helloResponse"/>
</operation>
</portType>
<binding name="CalculatorServicePortBinding" type="tns:CalculatorService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="add">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="mul">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="sub">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="div">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="CalculatorService">
<port name="CalculatorServicePort" binding="tns:CalculatorServicePortBinding">
<soap:address location="http://localhost:8080/wsacs-soap-web/CalculatorService"/>
</port>
</service>
</definitions>